<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            box-sizing: border-box;
            padding: 0;
            margin: 0;
            background-color:rgba(30, 30, 30, 0.91) ;
        }
        .logo{
            width: 50px;
        }
        .card{
            display: flex;
            flex-direction: column;
            justify-content:flex-start ;
            align-items: center;
            /* border: 2px solid red; */
            /* background-color: rgb(0, 255, 221); */
            height: 100vh;

        }
        .card-1{
            background-color: rgba(255, 255, 255, 0.53);
            border-radius:20px ;
            padding: 10px;
            color: #000000;
            font-weight: bolder;
            
        }
        .card-ed{
            display: flex;
            /* flex-direction: column; */
            justify-content:center ;
            align-items: center;
            /* background: rgb(0, 255, 221); */
            padding: 20px;
        }
        #input{
            
            border: none;
            outline:none;
            border-radius: 10px;
        }
        button {
  color: #fff;
  /* padding: 15px 25px; */
  padding-block: 2px;
  padding-inline: 9px;
  border-radius: 100px;
  background-color: #4C43CD;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  cursor: pointer;
}

.nav-bar{
    background-color: #4c43cdbb;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #FFFFFF;
    padding: 8px;
    width: 100%;
}
.ul-list .ul-items{
    /* padding: 20px;
    display: none; */

}
.fex{
    display: flex;

}
.upload{
    padding: 6px;
    background-color: none;
    background: none;
    border:2px solid salmon;
    border-radius: 10px;
    
    cursor: pointer;
}

input{
    color: #FFFFFF;
    margin: 9px;
}
    </style>
</head>
<body>
    <nav class="nav-bar">
        <h3 ><img class="logo" src="https://th.bing.com/th/id/R.052646b37437bc83d32a7c5df3bd54b3?rik=6H%2bczko%2bYQ%2brpQ&riu=http%3a%2f%2fcollege4u.in%2fwp-content%2fuploads%2f2018%2f03%2fsav-1024x1024.jpg&ehk=7DE%2bdvoyyy8Bxw2ObzddUTEMcgXXARiBq4BLwFIjdss%3d&risl=&pid=ImgRaw&r=0"></h3>
        <ul class="ul-list hide" >
            <l1 class="ul-items">
            <form action="/c" method="post" >  
                <!-- <input type="image" src="https://illustoon.com/photo/7800.png" width="30px" > -->
                <input type="submit" name="upvote" value="UploadFile" class="upload" />
           </form>
        </l1>
           
          <l1 class="ul-items"><form action="/post" method="post" >  
            <!-- <input type="image" src="https://illustoon.com/photo/7800.png" width="30px" > -->
            <input type="submit" name="Search" value="Search" class="upload" /></l1>
        
        </ul>
  </nav>
    
    <div class="container">
   
    <div class="card-ed">
        <form action="/post" method="post">
            <input type="search" name="search" id="input">
            <button>click</button>
        </form>
        
</div>
       
<div>
    <% data.forEach(function(ele) { %>
        <div>
            <div class="card" >
                
                <div class="card-1" >
                    <p> <img src="<%=ele.img %>" width="200px"></p>
                   <p><label>Name:</label> <span><%= ele.name %></span></p> 
                   <p><label>Roll No:</label><span><%= ele.rollno %></span></p> 
                   <p><label>Status:</label><span><%= ele.Status %></span></p> 

                </div>
            </div>
        </div>
        <% }) %>
</div>














    </div>
</div>
</body>
</html>